<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apple Pie</title>
</head>
<body>
    <div class="container">
        <h1>Apple Pie Recipe</h1>
        <h2>Ingredients</h2>
        <ul>
            <li>1/2 cup sugar</li>
            <li>1/2 cup packed brown sugar</li>
            <li>3 tablespoons all-purpose flour</li>
            <li>1 teaspoon ground cinnamon</li>
            <li>1/4 teaspoon ground ginger</li>
            <li>1/4 teaspoon ground nutmeg</li>
            <li>6 to 7 cups thinly sliced peeled tart apples</li>
            <li>1 tablespoon lemon juice</li>
            <li>Pastry for double-crust pie (9 inches)</li>
            <li>1 tablespoon butter</li>
            <li>1 large egg white</li>
            <li>Additional sugar</li>
        </ul>
        <h2>Directions</h2>
            <p>In a small bowl, combine the sugars, flour and spices; set aside.</p>
            <p>In a large bowl, toss apples with lemon juice. Add sugar mixture; toss to coat.</p>
            <p>Line a 9-in. pie plate with bottom crust; trim even with edge. Fill with apple mixture; dot with butter.</p>
            <p>Roll remaining crust to fit top of pie; place over filling. Trim, seal and flute edges. Cut slits in crust.</p>
            <p>Beat egg white until foamy; brush over crust. Sprinkle with sugar. Cover edges loosely with foil.</p>
            <p>Bake at 375° for 25 minutes.</p>
            <p>Remove foil and bake until crust is golden brown and filling is bubbly, 20-25 minutes longer.</p>
            <p>Cool on a wire rack.</p>
        <br />
        <footer>
            <a href="/">Recipe Home Page</a>
        </footer>
    </div>
</body>
</html>