<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brownies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/myStyles.css" type="text/css" >
</head>
<style>
    body {
        background: url("../images/Brownie.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<body>
    <div class="c">
        <h1>Brownie Recipe</h1>
        <span style="font-family: Roboto">Contributed by: </span>
        <span style="font-family: Great Vibes">John Kneisler</span>
        <h2>Ingredients</h2>
        <h4>Batter:</h4>
    </div>
    <div class="wrapper">
        <ul>
            <li>1/2 cup butter</li>
            <li>1 cup white sugar</li>
            <li>2 eggs</li>
            <li>1 teaspoon vanilla extract</li>
            <li>1/3 cup unsweetened cocoa powder</li>
            <li>1/2 cup all-purpose flour1/4 teaspoon salt</li>
            <li>1/4 teaspoon baking powder</li>
        </ul>
    </div>
    <div class="c">
        <h4>Frosting:</h4>
    </div>
    <div class="wrapper">
        <ul>
            <li>3 tablespoons butter, softened</li>
            <li>3 tablespoons unsweetened cocoa powder</li>
            <li>1 tablespoon honey</li>
            <li>1 teaspoon vanilla extract</li>
            <li>1 cup confectioners' sugar</li>
        </ul>
    </div>
    <div class="c">
        <h2>Directions</h2>
            <p><h4>To make the Batter:</h4></p>
            <p>Preheat oven to 350 degrees F (175 degrees C).</p>
            <p>Grease and flour an 8-inch square pan.</p>
            <p>In a large saucepan, melt 1/2 cup butter.</p>
            <p>Remove from heat, and stir in sugar, eggs, and 1 teaspoon vanilla.</p>
            <p>Beat in 1/3 cup cocoa, 1/2 cup flour, salt, and baking powder.</p>
            <p>Spread batter into prepared pan.</p>
            <p>Bake in preheated oven for 25 to 30 minutes.</p>
            <p>Do not overcook.</p>
            <p><h4>To Make Frosting:</h4></p>
            <p>Combine 3 tablespoons softened butter, 3 tablespoons cocoa, honey, 1 teaspoon vanilla extract, and 1 cup confectioners' sugar.</p>
            <p>Stir until smooth.</p>
            <p>Frost brownies while they are still warm.</p>
        <br />
        <footer>
            <a href="/">Recipe Home Page</a>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous">

    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous">

    </script>
</body>
</html>