<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chicken Noodle Soup</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/myStyles.css" type="text/css" >
</head>
<style>
    body {
        background: url("../images/ChickenSoup.jpg");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<body>
    <div class="c">
        <h1>Chicken Noodle Soup Recipe</h1>
        <h2>Ingredients</h2>
    </div>
    <div class="wrapper">
        <ul>
            <li>2-1/2 pounds bone-in chicken thighs</li>
            <li>1-1/4 teaspoons pepper, divided</li>
            <li>1/2 teaspoon salt</li>
            <li>1 tablespoon canola oil</li>
            <li>1 large onion, chopped</li>
            <li>1 garlic clove, minced</li>
            <li>10 cups chicken broth</li>
            <li>4 celery ribs, chopped</li>
            <li>4 medium carrots, chopped</li>
            <li>2 bay leaves</li>
            <li>1 teaspoon minced fresh thyme or 1/4 teaspoon dried thyme</li>
            <li>3 cups uncooked kluski or other egg noodles (about 8 ounces)</li>
            <li>1 tablespoon chopped fresh parsley</li>
            <li>1 tablespoon lemon juice</li>
        </ul>
    </div>
    <div class="c">
        <h2>Directions</h2>
            <p>Pat chicken dry with paper towels; sprinkle with 1/2 teaspoon pepper and salt. In a 6-qt. stockpot, heat oil over medium-high heat.</p>
            <p>Add chicken in batches, skin side down; cook until dark golden brown, 3-4 minutes. Remove chicken from pan; remove and discard skin.</p>
            <p>Discard drippings, reserving 2 tablespoons.</p>
            <p>Add onion to drippings; cook and stir over medium-high heat until tender, 4-5 minutes.</p>
            <p>Add garlic; cook 1 minute longer. Add broth, stirring to loosen browned bits from pan.</p>
            <p>Bring to a boil. Return chicken to pan. Add celery, carrots, bay leaves and thyme.</p>
            <p>Reduce heat; simmer, covered, until chicken is tender, 25-30 minutes.</p>
            <p>Transfer chicken to a plate. Remove soup from heat.</p>
            <p>Add noodles; let stand, covered, until noodles are tender, 20-22 minutes.</p>
            <p>Meanwhile, when chicken is cool enough to handle, remove meat from bones; discard bones.</p>
            <p>Shred meat into bite-sized pieces. Return meat to stockpot. Stir in parsley and lemon juice.</p>
            <p>Adjust seasoning with salt and remaining 3/4 teaspoon pepper. Discard bay leaves.</p>
        <br />
        <footer>
            <a href="/">Recipe Home Page</a>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>