<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crab Cake</title>
</head>
<body>
    <div class="container">
        <h1>Crabcake Recipe</h1>
        <h2>Ingredients</h2>
        <ul>
            <li>1/3 c. mayonnaise</li>
            <li>1 large egg, beaten</li>
            <li>2 tbsp. Dijon mustard</li>
            <li>2tsp. Worcestershire sauce</li>
            <li>1/2 tsp. hot sauce</li>
            <li>Kosher salt</li>
            <li>Freshly ground black pepper</li>
            <li>1b. jumbo lump crabmeat, picked over for shells</li>
            <li> 3/4 c. panky bread crumbs (or saltines)</li>
            <li>2 tbsp. Freshly Chopped Parsley</li>
            <li>Canola oil, for frying</li>
            <li>Lemon wedges, for serving</li>
            <li>Tartar sauce, for serving</li>
        </ul>
        <h2>Directions</h2>
        <p>In a small bowl, whisk together mayo, egg, Dijon mustard, Worcestershire, and hot sauce,
            and season with salt and pepper.</p>
        <p>In a medium bowl, stir together crabmeat, panko, and parsley. Fold in mayo mixture,
            then form into 8 patties.</p>
        <p>In a large skillet over medium-high heat, coat pan with oil and heat until shimmering.
            Add crab cakes and cook, in batches, until golden and crispy, 3 to 5 minutes per side.</p>
        <p>Serve with lemon and tartar sauce.</p>
        <br />
        <footer>
            <a href="/">Recipe Home Page</a>
        </footer>
    </div>
</body>
</html>