<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meadloaf</title>
</head>
<body>
    <div class="container">
    <h1>Meatloaf Recipe</h1>
        <h2>Ingredients</h2>
        <ul>
            <li>1-1/2 pounds Ground Beef (93% lean or leaner)</li>
            <li>3/4 cup Panko bread crumbs</li>
            <li>3/4 cup ketchup, divided</li>
            <li>1/2 cup minced onion</li>
            <li>1 egg</li>
            <li>1 tablespoon Worcestershire sauce</li>
            <li>2 teaspoons minced garlic</li>
            <li>1 teaspoon dried thyme leaves</li>
            <li>3/4 teaspoon pepper</li>
            <li>1/2 teaspoon salt</li>
        </ul>
        <h2>Directions</h2>
            <p>Heat oven to 350°F.</p>
            <p>Combine ground beef, bread crumbs, 1/2 cup ketchup, onion, egg, Worcestershire, garlic, thyme, pepper and salt in large bowl, mixing lightly but thoroughly.</p>
            <p>Shape beef into 8 x 4-inch loaf on rack in aluminum foil-lined broiler pan.</p>
            <p>Place upper oven rack in 350°F oven.</p>
            <p>Bake 45 to 55 minutes, until instant-read thermometer inserted into center registers 160°F.</p>
            <p>Brush with remaining 1/4 cup ketchup during last 10 minutes, if desired. Let stand 10 minutes.</p>
            <p>Cut into slices.</p>
        <br />
        <footer>
            <a href="/">Recipe Home Page</a>
        </footer>
    </div>
</body>
</html>