<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home Page</title>
</head>
<style>
</style>
<body>
    <nav>
        <a href="/CrabCake">Crab Cake Recipe</a>&nbsp
        <a href="/Meatloaf">Meatloaf Recipe</a>&nbsp
        <a href="/ApplePie">Apple Pie</a>&nbsp
        <a href="/ChickenNoodleSoup">Chicken Noodle Soup</a>&nbsp
        <a href="/Brownies">Brownies</a>
    </nav>

    <br />
    <footer>
        <a href="/">Recipe Home Page</a>
    </footer>
</body>
</html>